fastapi
uvicorn
pydantic
python-dotenv

langchain
langchain-core
langgraph
langchain-google-genai

chromadb
dulwich
sentence-transformers

GitPython
tree-sitter
tree-sitter-python

tavily-python
PyGithub

streamlit
requests

groq